@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  width: 100vw;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'>\<rect fill='%2300000' width='50' height='50' x='0' y='0' />\<rect fill='%23000' width='50' height='50' x='50' y='50' />\<rect fill='%23ffffff00' width='50' height='50' x='50' y='0' />\<rect fill='%23ffffff00' width='50' height='50' x='0' y='50' />\</svg>"),
    url(https://abrilveja.files.wordpress.com/2018/01/mallandro.png);
  background-size: 80px, cover;
  height: 100vh;
  animation: gradient 30s ease infinite;
}

.form-container {
  background-color: white;
  border-radius: 20px;
  width: 60vw;
  padding: 20px;
}

.tittle {
  font-weight: 700;
  font-size: 20px;
}

.image1 {
  width: 20vw;
  border-radius: 20px;
}

.colorGradient {
  background: linear-gradient(90deg, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
}

@keyframes gradient {
  0% {
    background-color: red;
  }
  20% {
    background-color: yellow;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}

.header {
  z-index: 999999;
  display: flex;
  background-color: white;
  justify-content: space-around;
  width: 100vw;
  padding: 10px;
  align-items: center;
}

.button {
  height: 45px;
  width: 200px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(255, 255, 255);
  box-shadow: rgb(38 120 113 / 15%) 0px 4px 20px 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "PRESS START 2P";
  animation: button 5s ease infinite;
}

.mr-10 {
  margin-right: 10px !important;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

@keyframes button {
  0% {
    background-color: green;
  }
  20% {
    background-color: blue;
  }
  70% {
    background-color: purple;
  }
  100% {
    background-color: green;
  }
}

.menus {
  display: flex;
}

.menus div {
  margin-left: 20px;
  margin-right: 20px;
}









/* DropDown css */
div.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 14px;
}
div.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
div.primary-navigation li a {
  color: black;
}
div.primary-navigation li a:hover {
  color: #3ca0e7;
}
div.primary-navigation li:hover {
  cursor: pointer;
}
div.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
div.primary-navigation ul li:hover > ul,
div.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
  z-index: 10000;
}
div.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

a {
  text-decoration: none;
}
div.primary-navigation a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}

.done {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  div.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }

  .filters{
    flex-direction: column;
  }

  div.primary-navigation ul li {
    list-style: none;
    margin: 0;
    border-left: none;
    display: block;
    padding: 7px 0px;
  }

  .header {
    flex-direction: column;
  }

  .header div {
    margin-top: 10px;
  }


  .form-container {
    margin-top: 20px;
    width: 90vw;
  }

  .disable-on-600 {
    display: none !important;
  }

  .image-frame {
    height: 150px;
    flex: auto !important;
  }

  .button {
    margin-top: 10px;
  }

  .mobile-flex {
    flex-direction: column;
    width: 100%;
  }

  .mobile-flex div {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .disable-on-400 {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .content-container {
    flex-direction: column;
  }

  html {
    overflow-y: scroll;
    overflow-x: auto;
  }

  #app {
    height: 135vh;
    overflow-y: auto;
  }  
}

@media (min-width: 601px) {
  #info-analyze {
    position: absolute;
    width: 30vw !important;
    left: 10px;
  }
}

#paginate ul li {
  display: inline;
}

#paginate ul li a {
  border-radius: 7px;
  padding: 10px !important;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;
  background-color: blue;
  color: white;
}

#paginate ul li.previous a,
#paginate ul li.next a,
#paginate ul li.break a {
  border-color: transparent;
  display: inline;
}

#paginate ul li.selected a {
  background-color: red;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
#paginate ul li.disabled a {
  color: grey;
}
#paginate ul li.disable,
#paginate ul li.disabled a {
  cursor: default;
}



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}